* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.nv00_main-header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #ff0000;
  box-shadow: 1px 1px;
  font-size: 0;
  z-index: 2000;
  word-wrap: break-word;
  word-break: break-word;
}

.nv00_logo-wrap {
  align-items: center;
  width: 120px;
  height: 100%;
  margin-right: 64px;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: flex-start;
  -webkit-box-pack: start;
  -webkit-box-align: center;
}

.nv00_logo {
  position: relative;
  width: 100%;
}

.nv00_logo-image {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: 0;
}

.nv00_inner-wrap {
  background-color: #fff;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  position: relative;
  height: 100%;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  z-index: 1;
}

.nv00_menu-wrap {
  -webkit-box-pack: justify;
  flex-grow: 1;
  -webkit-box-flex: 1;
  -webkit-box-align: start;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 100%;
}

.nv00_menu-right-list {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.nv00_menu-left-list {
  height: 100%;
}

.nv00_menu {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;
  margin-right: 1px;
  -webkit-box-align: center;
  -webkit-box-pack: start;
}

.nv00_menu-btn {
  align-items: center;
  position: relative;
  padding: 0 8px;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  color: #000;
  z-index: 3;
  justify-content: flex-start;
  -webkit-box-align: center;
  display: inline-flex;
  -webkit-box-pack: start;
  border-radius: 16px;
}

button {
  border: 0;
  width: auto;
  margin: 0;
  overflow: visible;
  background: 0;
  text-align: inherit;
  border-radius: 0;
  cursor: pointer;
  font: inherit;
}

.nv00_menu-btn:hover {
  background-color: #000000;
  color: #fff;
}

.nv00_utility-wrap {
  flex-shrink: 0;
  display: inline-flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin-left: 28px;
}

.nv00_utility-search {
  margin-right: 8px;                                                                                      
  align-items: center;
  position: relative;
  height: 100%;
  justify-content: flex-start;
  -webkit-box-align: center;
  display: inline-flex;
  -webkit-box-pack: start;
}

.nv00_utility-btn {
  padding: 8px;
  width: 45px;
  height: 45px;
}

.nv00_utility-btn img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.nv00_utility-cart {
  margin-right: 8px;
  align-items: center;
  position: relative;
  height: 100%;
  justify-content: flex-start;
  -webkit-box-align: center;
  display: inline-flex;
  -webkit-box-pack: start;
}

.nv00_utility-before-login {
  margin-right: 8px;
  align-items: center;
  position: relative;
  height: 100%;
  justify-content: flex-start;
  -webkit-box-align: center;
  display: inline-flex;
  -webkit-box-pack: start;
}
